on: pull_request
name: Pull Request
jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v5
        with:
          go-version: "stable"
      - name: build
        run: make build
      - name: check
        run: make check
      - name: unit-test
        run: make unit-test
